<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
	<title>Cadstro Titulo</title>
</head>

<section layout:fragment="conteudo">
	<form class="form-horizontal" method="POST" action="/titulos">
		<div class="alert alert-success"
			th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span>
		</div>


		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title aw-titulo-panel">Novo Título</h1>
					<a class="btn btn-link aw-link-panel" th:href="@{/titulos}">Volta para Titulo</a>
					
				</div>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="descricao" class="col-sm-2 control-label">Descrição</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="descricao"
							name="descricao" />
					</div>
				</div>

				<div class="form-group">
					<label for="dataVencimento" class="col-sm-2 control-label">Data
						de Vencimento</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="dataVencimento"
							name="dataVencimento" />
					</div>
				</div>

				<div class="form-group">
					<label for="valor" class="col-sm-2 control-label">Valor</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="valor" name="valor" />
					</div>
				</div>

				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Status</label>
					<div class="col-sm-2">
						<select class="form-control" id="status" name="status">
							<option th:each="status : ${todosStatusTitulo}"
								th:value="${status}" th:text="${status.descricao}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">SALVAR</button>
					</div>
				</div>
			</div>
		</div>

	</form>
</section>
</html>