<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>COBRANÇA</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<header layout:include="Cabecalho"></header>
	<section layout:fragment="conteudo">
		<h2>CONTEUDO PRINCIPAL</h2>
	</section>

	<script th:src="@{/js/jquery-3.2.0.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>