<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
	<title>Pesquisa Titulo</title>
</head>
<section layout:fragment="conteudo">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">Pesquisa de Título</h1>
				<a class="btn btn-link aw-link-panel" th:href="@{/titulos/novo}">Novo Titulo</a>
			</div>
		</div>
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Descrição</th>
						<th class="text-center col-md-2">Data de Nascimento</th>
						<th class="text-right col-md-2">Valor</th>
						<th class="text-center col-md-2">Status</th>
						<th class="col-md-1">#</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="titulo : ${titulos}">
						<td class="text-center" th:text="${titulo.codigo}"></td>
						<td th:text="${titulo.descricao}"></td>
						<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
						<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
						<td class="text-center">
							<span class="label" th:text="${titulo.status.descricao}"
							th:classappend="${titulo.pendente ? 'label-danger' : 'label-success'}"></span>
						</td>
						<td class="text-center"></td>
					</tr>
				
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum Titulo foi encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
</html>